.navbar-default {
	background-color: #99badd;
	color: white;
	text-align: center;
}

.glyphicon-home {
	font-size: 25px;
	color: white;
	text-align: center;
}

.well {
	background-color: white;
	
}

