
.navbar-default {
	background-color: #99badd;
	text-align: center;
	
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.glyphicon-home {
	font-size: auto;
	color: white;
	text-align: center;
	line-height: auto;
}

.well {
	background-color: white;
	
}

.btn {
	background-color: #99badd;
}




